<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Properties -->
  <material name="global_yaskawa_blue">
    <color rgba="0.12941 0.14902 0.74902 1" />
  </material>
  <material name="global_white">
    <color rgba="1 1 1 1"/>
  </material>

  <!-- Robots -->
  <xacro:include filename="$(find motoman_ma2010_support)/urdf/ma2010_macro.xacro" />
  <xacro:include filename="$(find motoman_ms210_support)/urdf/ms210_macro.xacro" />
  <xacro:include filename="$(find motoman_mh50_support)/urdf/mh50_macro.xacro" />

  <!-- Robot Cluster Definition -->
  <xacro:macro name="cluster_ma2010_ms210_mh50" params="prefix">

      <link name="${prefix}origin">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <cylinder length="0.01" radius="2.5" />
          </geometry>
          <material name="global_white"/>
        </visual>
      </link>


      <xacro:motoman_ma2010 prefix="${prefix}r1_"/>
      <joint name="${prefix}r1_joint_origin" type="fixed">
        <origin xyz="0 0 1.052" rpy="0 0 0"/>
        <parent link="${prefix}origin" />
        <child  link="${prefix}r1_base_link" />
      </joint>


      <xacro:motoman_ms210 prefix="${prefix}r2_"/>
      <joint name="${prefix}r2_joint_origin" type="fixed">
        <origin xyz="0.733 -2.4281 0.127" rpy="0 0 ${radians(90)}"/>
        <parent link="${prefix}origin"/>
        <child  link="${prefix}r2_base_link"/>
      </joint>


      <xacro:motoman_mh50 prefix="${prefix}r3_"/>
      <joint name="${prefix}r3_joint_origin" type="fixed">
        <origin xyz="2.03805 -0.66105 0.889" rpy="0 0 ${radians(180)}"/>
        <parent link="${prefix}origin"/>
        <child  link="${prefix}r3_base_link"/>
      </joint>


      <!-- Environment -->
  <!--<xacro:include filename="$(find core)/urdf/environment_macro.xacro" />
      <xacro:aims_environment prefix="${prefix}"/>
  -->
      <!-- End Effectors (EEF) -->
  <!--<xacro:include filename="$(find core)/urdf/endeffectors_macro.xacro" />
      <xacro:cluster_eef prefix="${prefix}"/>
  -->

  </xacro:macro>
</robot>
