<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="aims_environment" params="prefix">

  <!-- Link List -->
  <link  name="${prefix}mount_r1">
    <visual>
      <origin xyz="0 0 -1.051999" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/bases/visual/asm_R1_mount_labCoords.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -1.051999" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/bases/visual/asm_R1_mount_labCoords.STL" />
      </geometry>
    </collision>
  </link>
  <link  name="${prefix}mount_r2">
    <visual>
      <origin xyz="0 0 -.127" rpy="0 0 ${radians(-90)}" />
      <geometry>
        <mesh filename="package://core/meshes/bases/visual/asm_R2_mount_labCoords.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -.127" rpy="0 0 ${radians(-90)}" />
      <geometry>
        <mesh filename="package://core/meshes/bases/visual/asm_R2_mount_labCoords.STL" />
      </geometry>
    </collision>
  </link>
  <link  name="${prefix}mount_r3">
    <visual>
      <origin xyz="0 0 -0.889" rpy="${radians(90)} 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/bases/visual/asm_R3_mount_labCoords.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.889" rpy="${radians(90)} 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/bases/visual/asm_R3_mount_labCoords.STL" />
      </geometry>
    </collision>
  </link>

  <link  name="${prefix}controllerboxes">
    <visual>
      <origin xyz="-1 -0.8 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/equipment/dx200_controller_boxes.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.889" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/equipment/dx200_controller_boxes.STL" />
      </geometry>
    </collision>
  </link>
  <link  name="${prefix}tormach">
    <visual>
      <origin xyz="0 -4 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/equipment/tormach_mill_rough.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -4 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/equipment/tormach_mill_rough.STL" />
      </geometry>
    </collision>
  </link>
  <link  name="${prefix}cognex">
    <visual>
      <origin xyz="1 -0.7 3.2" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/equipment/cognex_ceiling_assembly.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="1 -0.7 3.2" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://core/meshes/equipment/cognex_ceiling_assembly.STL" />
      </geometry>
    </collision>
  </link>


  <!-- Joint List -->
  <joint name="${prefix}r1_mount_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}r1_base_link" />
    <child link="${prefix}mount_r1" />
  </joint>
  <joint name="${prefix}r2_mount_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}r2_base_link" />
    <child link="${prefix}mount_r2" />
  </joint>
  <joint name="${prefix}r3_mount_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}r3_base_link" />
    <child link="${prefix}mount_r3" />
  </joint>

  <joint name="${prefix}controllerboxes_origin" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}origin" />
    <child link="${prefix}controllerboxes" />
  </joint>
  <joint name="${prefix}tormach_origin" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}origin" />
    <child link="${prefix}tormach" />
  </joint>
  <joint name="${prefix}cognex_origin" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="${prefix}origin" />
    <child link="${prefix}cognex" />
  </joint>

</xacro:macro>
</robot>
